/* Config geral   */

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-contant {
    flex: 1;
    margin: 0;
}

header {
    background-color:#4a8688 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
.logo {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

  .logo img {
    width: 100%;
    height: 120px;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
    padding: 40px;
  }
  
  .nav-links a {
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.footer-title {
  text-align: center; 
  padding: 10px;
  color: white; 
  font-family: "Lato", sans-serif;
  font-size: 15px; 
  font-weight: bold; 
  padding-left: 50px;
  padding-bottom: 40px;
}

.footer-title::after {
  content: ''; 
  display: block;
  width: 1250%; 
  height: 2px; 
  background-color: #3cbd9d; 
}

.footer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding-top: 20px;
  background-color: #4a8688;
  color: white;
  font-family: "Lato", sans-serif;
  width: 100%; 
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  flex-wrap: wrap;
}

.footer-section {
  width: 33%;
}

.footer-section ul {
  list-style-type: none;
  padding-left: 50px;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #3cbd9d;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
}

.social-media p {
  padding-top: 21px;
  font-size: 16px; 
  font-weight: bold;
  margin: 0; 
}

.social-media ul {
  display: flex;
  justify-content: flex-start; 
  gap: 15px; 
  padding: 0;
  padding-top: -20px;
}

.social-icon {
  width: 40px; 
  height: 40px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #366163;
  margin-top: 40px;
}

.footer-bottom p {
  margin: 5px;
  color: white;
}


/* Index  */ 

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 620px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: relative;
  width: 100%;
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-text {
    position: absolute;
    top: 10%; 
    left: 10%; 
    transform: translateX(0); 
    color: white; 
    font-size: 40px; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    z-index: 2; 
    text-align: left; 
    font-family: "Lato", sans-serif; 
}

.carousel-text-h1 {
    padding: 10px;
}

.carousel-text-p {
    font-size: 17px;
    z-index: 2; 
    text-align: left;
    font-family: "Lato", sans-serif; 
    padding-right: 800px;
    text-shadow: none;
    padding-bottom: 10px;
}

.button-carrosel {
    background-color: #be8200;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.button-carrosel:hover        {
    background-color: rgb(133, 85, 23); 
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.strong {
  padding-top: 50px;
  padding-bottom: 80px;
}

.quadrado {
  max-width: 100%;
  height: 700px;
  background-color: rgb(241, 241, 241);
}

.ambient {
    padding-top:40px ;
    text-align: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
}
  
.ambient-sub {
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.objetivo_index, .metolodolia_index {
  display: flex; 
  align-items: center; 
  gap: 20px; 
  padding: 20px;
}

.objetivo_index img ,.metolodolia_index img {
  max-width: 50%;
  width: 700px;
  height: 500px; 
  border-radius: 8px; 
  object-fit: cover;
  padding-right: 50px;
  padding-left: 30px;
}

.legenda_justificativa { 
  font-size: 15px; 
  padding-bottom: 5px;
}

.objetivo_index .texto_index , .metolodolia_index .texto_index  {
  max-width: 65%; 
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}

.objetivo_index h1 , .metolodolia_index h1 {
  text-shadow: #333;
  font-size: 50px;
  margin-bottom: -10px;
  color: #1dd2db;
  font-family: "Bebas Neue", sans-serif;
}

.objetivo_index h2 , .metolodolia_index h2 {
  text-shadow: #333;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.justificativa_index, .conclusao_index {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
}

.justificativa_index img, .conclusao_index img {  
  max-width: 50%; 
  width: 700px;  height: 500px; 
  border-radius: 8px; 
  object-fit: cover;
  padding-right: 50px;
  padding-left: 30px;
}

.justificativa_index .texto_index, .conclusao_index .texto_index {
  max-width: 65%; 
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 18px;
  padding-left: 68px;
  font-size: 20px;
}

.justificativa_index h1, .conclusao_index h1 {
  text-shadow: #333;
  font-size: 50px;
  margin-bottom: 10px;
  color: #1d76db;
  font-family: "Bebas Neue", sans-serif;
}

.justificativa_index h2, .conclusao_index h2 {
  text-shadow: #333;
  font-size: 20px;
  margin-bottom:  20px;
  font-family: "Bebas Neue", sans-serif;
}

.justificativa_index p, .conclusao_index p {
  line-height: 1.6; 
}

/* Quem somos */

.text_quemsomosnos_1 {
  padding-top: 10px;  
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.text_quemsomosnos {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.integrantes_quemsomos {
  padding-top: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

.integrantes_1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 45px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrante img {
  width: 500px; 
  max-width: 400px; 
  height: auto; 
}

.nome_quemsomos {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  color: #333;
  font-family: "Lato", sans-serif;
}

.funcao_quemsomos {
  font-size: 16px;
  color: #666;
  margin-top: -20px;
  font-family: "Lato", sans-serif;
}

.integrantes_2 {
  display: grid;
  grid-template-columns: 50% 50%; 
  gap: 20px; 
  text-align: center;
  padding-bottom: 50px;
  max-width: 840px; 
  margin: 0 auto; 
}

.integrante_2 img {
  width: 500px; 
  max-width: 400px;
  height: auto; 
}

/* Parceiros */

.quadrado_parceiros {
  max-width: 50%;
  background-color: #ebebeb;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 450px;
}

.parceiros {
  display: grid;
  grid-template-rows: auto auto; /* Duas linhas */
  gap: 30px; /* Espaçamento entre linhas */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding-top: 30px;
  padding-bottom: 20px;
}

.title_parceiros, .title_termos {
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
}

.logos_ia {
  font-size: 15px;
  font-family: "Lato" sans-serif;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 450px;
}

.linha {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
  gap: 15px; /* Espaçamento entre colunas */
}

.linha figure {
  text-align: center; /* Centraliza a imagem e a legenda */
  margin: 0; /* Remove margens padrão */
}

.linha img {
  width: 200px; /* Largura de cada logo */
  height: auto; /* Mantém proporção */
  object-fit: contain; /* Ajusta imagem sem cortar */
  padding-top: 20px; /* Espaço superior para a imagem */
  padding-bottom: 20px; /* Espaço inferior para a imagem */
}

.linha figcaption {
  font-size: 14px; /* Tamanho da legenda */
  color: #555; /* Cor da legenda */
  margin-top: 8px; /* Espaçamento entre imagem e legenda */
  font-family: "Lato", sans-serif;
}

/* Contato */

.contato_p {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Lato", sans-serif;

}

.title_contato {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

#userForm {
  font-family: "Lato", sans-serif;      
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #4a8688;
  border-radius: 8px;
}

label {
  padding-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

label input[type="checkbox"] {
  margin-top: 3px;
  margin-right: 10px; 
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  font-family: "Lato", sans-serif;
  padding: 13px;
  margin-bottom:15px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none; 
  -moz-appearance: textfield; 
}

.button_contato {
  font-family: "Lato", sans-serif;
  background-color: #eeac56;
  width: 80px;
  color: black;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.space_button {
  padding-top: 10px;
}

.button_contato:hover  {
  font-family: "Lato", sans-serif;
  background-color: rgb(201, 127, 31); 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

label input[type="checkbox"] {
  margin-right: 10px;
}

/* Instalações */

.mapa {
  width: 80%; 
  height: 500px;
  max-width: 1000px; 
  border: none;
  padding-top: 20px;
  padding-left: 24%;
  padding-bottom: 50px;
}

#map {
  width: 100%;
  height: 100%;
}

.text_instalaçoes {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* Termos */

/* Estilo geral para o texto */
.area_termos_main-contant .text_termo {
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Cor do texto */
  margin-bottom: 20px;
  text-align: justify;
}

/* Estilo para a lista ordenada */
.area_termos_main-contant ol {
  padding-left: 20px;
  counter-reset: item;
}

.area_termos_main-contant ol > li {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #444;
  position: relative;
}

/* Estilo para subtextos dentro dos itens da lista */
.area_termos_main-contant ol > li > p {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
  line-height: 1.5;
  text-align: justify;
}

/* Estilo para a lista não ordenada dentro dos itens */
.area_termos_main-contant ol > li ul {
  list-style-type: disc;
  margin-left: 40px; /* Alinhamento para diferenciar das listas principais */
  margin-top: 10px;
}

.area_termos_main-contant ol > li ul li {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* Adicionando ícones aos itens da lista ordenada */
.area_termos_main-contant ol > li::before {
  counter-increment: item;
  content: counter(item) ". ";
  font-weight: bold;
  color: #007BFF; /* Cor do número */
  position: absolute;
  left: -30px; /* Espaçamento para alinhar */
}

/* Adicionando estilo para o parágrafo inicial */
.area_termos_main-contant .text_termo:first-letter {
  font-size: 22px;
  font-weight: bold;
  color: #007BFF; /* Destaque para a primeira letra */
}

/* Espaçamento e centralização para o container */

.section_termos {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff; /* Fundo branco para contraste */
  padding-bottom: 50px;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.area_main-contant {
    max-width: 900px;
    margin: 20px auto; /* Centraliza o conteúdo */
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.area_main-contant .title_termos {
  font-size: 28px;
  color: #2c3e50; /* Azul escuro */
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilo geral do texto */
.area_main-contant .text_termo {
  font-size: 16px;
  line-height: 1.8;
  color: #34495e; /* Cinza-azulado */
  margin-bottom: 20px;
  text-align: justify;
}

/* Estilo para a lista ordenada */
.area_main-contant ol {
  counter-reset: section; /* Reinicia o contador para os números */
  padding-left: 20px;
}

.area_main-contant ol > li {
  font-size: 18px;
  color: #2c3e50;
  margin-bottom: 15px;
  font-weight: bold;
  position: relative;
  line-height: 1.5;
}

/* Números estilizados nos itens da lista */
.area_main-contant ol > li::before {
  counter-increment: section;
  content: counter(section) ".";
  color: #007BFF;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  left: -30px;
  top: 0;
}

/* Parágrafos dentro de itens */
.area_main-contant ol > li > p {
  font-size: 14px;
  color: #7f8c8d; /* Cinza claro */
  margin-top: 8px;
  text-align: justify;
}

/* Listas não ordenadas dentro dos itens */
.area_main-contant ol > li ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-top: 10px;
}

.area_main-contant ol > li ul li {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

/* Responsividade dos sites */

/* Config geral */
@media (max-width: 768px) {
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
  }

  .main-contant {
    flex: 1;
    margin: 0;
  }

  header {
    background-color: #4a8688;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; /* Certifica que ocupa toda a largura */
    z-index: 1; /* Garante que fique acima do carrossel */
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo img {
    width: auto;
    height: 100px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #4a8688;
    text-align: center;
    display: none;
  }

  .nav-links a {
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links.active {
    display: flex;
  }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      background-color: #4a8688;
      color: white;
      font-family: "Lato", sans-serif;
      width: 100%; 
    }
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
    }
  
    .footer-section {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

    .footer-title::after {
      content: ''; 
      display: block;
      width: 1250%; 
      height: 2px; 
      background-color: #3cbd9d; 
    }
  
    .footer-section ul {
      list-style-type: none;
      padding-left: 0;
    }
  
    .footer-section ul li {
      margin: 5px 0;
    }
  
    .footer-section ul li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s ease;
    }
  
    .footer-section ul li a:hover {
      color: #3cbd9d;
    }
  
    .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 20px;
    }
  
    .social-media p {
      padding-top: 10px;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
  
    .social-media ul {
      display: flex;
      justify-content: center;
      gap: 15px;
      padding: 0;
    }
  
    .social-icon {
      width: 40px;
      height: 40px;
      transition: transform 0.3s ease;
    }
  
    .social-icon:hover {
      transform: scale(1.1);
    }
  
    .footer-bottom {
      width: 100%;
      text-align: center;
      padding: 10px;
      background-color: #366163;
      margin-top: 20px;
    }
  
    .footer-bottom p {
      margin: 5px;
      color: white;
    }

    /* Index */

    .carousel {
      max-height: 400px; 
    }
  
    .carousel-container {
      height: 400px; 
    }
  
    .carousel-images img {
      width: 100vw; 
      height: auto; 
    }
  
    .carousel-text {
      font-size: 24px;
      top: 15%; 
      left: 10%; 
      font-size: 18px; 
      padding-right: 20px; 
    }
  
    .carousel-text-p {
      font-size: 14px; 
      padding-right: 20px;
      padding-bottom: 10px;
    }
  
    .button-carrosel {
      width: 120px; 
      font-size: 13px; 
      padding: 8px; 
    }
  
    .carousel-control {
      font-size: 1.5rem; 
      padding: 8px; 
    }
  
    .ambient {
      font-size: 30px; 
    }
  
    .ambient-sub {
      font-size: 16px; 
    }
  
    .objeto_index, .metolodolia_index {
      display: block; 
      gap: 10px;
      padding: 10px;
    }
  
    .objeto_index img, .metolodolia_index img {
      width: 100%; 
      max-width: 100%; 
      height: auto; 
    }
  
    .objeto_index .texto_index, .metolodolia_index .texto_index {
      max-width: 100%; 
      font-size: 16px; 
      padding-left: 0;
    }
  
    .objeto_index h1, .metolodolia_index h1 {
      font-size: 20px; 
    }
  
    .justificativa_index, .conclusao_index {
      display: block; 
      gap: 10px;
      padding: 10px;
    }
  
    .justificativa_index img, .conclusao_index img {
      width: 100%; 
      height: auto; 
      max-width: 100%;
      padding-right: 0; 
      padding-left: 0; 
    }
  
    .justificativa_index .texto_index, .conclusao_index .texto_index {
      font-size: 16px;
      padding-left: 0;
      max-width: 100%; 
    }
  
    .justificativa_index h1, .conclusao_index h1 {
      font-size: 20px;
    }

    /* Quem somos */

  .text_quemsomosnos_1,
  .text_quemsomosnos {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  .integrantes_quemsomos {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
  }

  .integrantes_1 {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .integrante img {
    width: 100%;
    max-width: 300px; 
    height: auto;
  }

  .nome_quemsomos {
    font-size: 24px;
  }

  .funcao_quemsomos {
    font-size: 14px;
  }

  .integrantes_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 30px;
  }

  .integrante_2 img {
    width: 100%; 
    max-width: 300px;
    height: auto;
  }

   /* Contato */

  .contato_p {
    padding-top: 15px;
    font-size: 16px;
  }

  .title_contato {
    font-size: 22px; 
    text-align: center;
  }

  #userForm {
    max-width: 90%; 
    padding: 15px;
  }


  label {
    font-size: 16px; 
    padding-bottom: 8px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    padding: 10px;
    font-size: 14px; 
    margin-bottom: 12px;
  }

  .button_contato {
    width: 100%; 
    padding: 12px;
    font-size: 16px; 
  }

  .space_button {
    padding-top: 15px;
  }

  .button_contato:hover {
    background-color: rgb(201, 127, 31); 
  }

  label input[type="checkbox"] {
    margin-right: 8px; 
  }


/* Instalações */

  .mapa {
    width: 100%; 
    height: 300px; 
    padding-top: 15px;
    padding-left: 0%; 
    padding-bottom: 30px;
  }

  #map {
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 480px) {
  body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  header {
    height: 80px; /* Mantém o cabeçalho compacto */
    padding: 0 8px;
    position: relative; /* Garante que o menu dropdown seja posicionado corretamente */
    width: 100%;
    z-index: 999; /* Certifica que o cabeçalho fica acima de outros elementos */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 80px; /* Mantém a logo proporcional para telas pequenas */
    width: auto;
    padding-right: 190px;
  }

  .menu-toggle {
    display: block; /* Garante que o botão hamburguer seja visível */
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links {
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Alinha o menu dropdown logo abaixo do cabeçalho */
    left: 0;
    right: 0;
    background-color: #4a8688;
    text-align: center;
    z-index: 999;
  }

  .nav-links.active {
    display: flex; /* Exibe o menu quando ativo */
  }

  .nav-links a {
    font-size: 14px; /* Mantém o texto legível */
    padding: 8px;
    color: white;
    text-decoration: none;
  }

  .footer {
    padding: 10px; /* Reduz padding geral */
  }

  .footer-section ul li a {
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  .footer-title {
    margin-left: -60px ;
    text-align: center;
    margin-bottom: -20px;
    padding-bottom: -20px;
  }

  .footer-title::after {
    content: ''; 
    display: block;
    margin-left: -90px ;
    max-width: 325px;
    height: 2px; 
    background-color: #3cbd9d; 
  }

  .carousel {
    max-height: 300px; /* Reduz a altura do carrossel */
    padding-top: 10px;
  }

  .carousel-text {
    font-size: 16px;
    top: 10%; /* Ajusta a posição do texto */
    left: 5%; 
    padding-left: 15px;
  }

  .carousel-text-h1 {
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: -10px;
}

  .carousel-text-p {
    font-size: 12px; /* Reduz a fonte dos textos do carrossel */
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    line-height: 1.6;
  }

  .space-button {
    padding-left: 5px;
  }

  .carousel-images img {
    width: 1000px;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Garante que o overlay tenha a mesma largura da imagem */
    height: 100%;  /* Garante que o overlay tenha a mesma altura da imagem */
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    overflow: hidden;
  }

  .button-carrosel {
    width: 110px; 
    font-size: 13px; 
    padding: 8px; 
  }

  .carousel-control {
    font-size: 1.5rem; 
    padding: 8px; 
  }
  
  .ambient {
    font-size: 24px; /* Ajusta tamanho do texto principal */
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -50px;
  }

  .ambient-sub {
    font-size: 14px; /* Ajusta o subtítulo */
  }

  .strong {
    margin-bottom: -40px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .objetivo_index, .metolodolia_index {
    margin-top: -12px;
    display: flex;            /* Define o contêiner como flex */
    flex-direction: column;   /* Organiza os itens em coluna (vertical) */
    width: 100%;              /* Garante que o contêiner ocupe toda a largura */
  }


  .objetivo_index h2, .metolodolia_index h2, .justificativa_index h2, .conclusao_index h2 {
    text-shadow: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
  }

  .objetivo_index h1, .metolodolia_index h1 {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 10px;
    text-shadow: #333;
    font-size: 25px;
    margin-bottom: -10px;
    color: #1dd2db;
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
  }

  .justificativa_index h1, .conclusao_index h1 {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 10px;
    text-shadow: #333;
    font-size: 25px;
    margin-bottom: -10px;
    color: #1d76db;
    font-family: "Bebas Neue", sans-serif;
    text-align: left;
  }

  .objetivo_index .texto_index {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 16px;
    margin-bottom: -10px;
    text-align: justify;
  }

  .metolodolia_index .texto_index {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 20px;
    margin-left: 25px;
    margin-right: 50px;
    font-size: 16px;
    padding-left: 10px;
    text-align: justify;
  }

  .justificativa_index .texto_index, .conclusao_index .texto_index {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 20px;
    margin-left: 25px;
    margin-right: 35px;
    font-size: 16px;
    padding-left: 10px;
    text-align: justify;
  }

    .objetivo_index img {
    max-width: 100%;
    width: 330px;         /* A imagem irá ocupar toda a largura disponível */
    height: 230px;               /* A altura será ajustada automaticamente para manter a proporção */
    display: block;          /* Garante que a imagem ocupe uma linha inteira */
    margin-top: 10px;        /* Adiciona espaçamento acima da imagem */   /* Adiciona espaçamento abaixo da imagem */
    text-align: center;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 30px;
  }

    .metolodolia_index img {
    max-width: 100%;
    width: 330px;         /* A imagem irá ocupar toda a largura disponível */
    height: 230px;               /* A altura será ajustada automaticamente para manter a proporção */
    display: block;          /* Garante que a imagem ocupe uma linha inteira */
    margin-top: 10px;        /* Adiciona espaçamento acima da imagem */
    margin-bottom: -10px;     /* Adiciona espaçamento abaixo da imagem */
    text-align: center;
    margin-top: 0;
    margin-right: 10px;
  }

  .justificativa_index img {
    max-width: 100%;
    width: 330px;         /* A imagem irá ocupar toda a largura disponível */
    height: 230px;               /* A altura será ajustada automaticamente para manter a proporção */
    display: block;          /* Garante que a imagem ocupe uma linha inteira */
    margin-top: 10px;        /* Adiciona espaçamento acima da imagem */
    margin-bottom: -10px;     /* Adiciona espaçamento abaixo da imagem */
    text-align: center;
    margin-top: 0;
    margin-right: 10px;
    border-radius: 0;
    margin-left: 35px ;
  }
  
  .conclusao_index img {
    max-width: 100%;
    width: 330px;         /* A imagem irá ocupar toda a largura disponível */
    height: 230px;               /* A altura será ajustada automaticamente para manter a proporção */
    display: block;          /* Garante que a imagem ocupe uma linha inteira */
    margin-top: 10px;        /* Adiciona espaçamento acima da imagem */
    margin-bottom: -10px;     /* Adiciona espaçamento abaixo da imagem */
    text-align: center;
    margin-top: 0;
    margin-right: 10px;
    border-radius: 0;
    margin-left: 35px ;
  }
  

  .texto_index_h1, .texto_index_h1 {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 10px;
    font-size: 25px;
    color: #366163;
    font-family: "Lato", sans-serif;
    margin-top: 0;
    padding-top: 10px;
    margin-top: -2  0px;
    text-align: left;
    line-height: 1.7;
  }

  .texto_index_h2 {
    order: -1;               /* Coloca o texto antes da imagem */
    max-width: 100%;
    padding-right: 10px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    text-align: left;
    line-height: 1.6;
  }

  .legenda_justificativa { 
    font-size: 13px;
    margin-top: -7px;
    padding-bottom: 5px;
  }

  .text_quemsomosnos_1,
  .text_quemsomosnos {
    font-size: 14px; /* Reduz a fonte do texto */
    padding: 10px; /* Ajusta o padding */
    margin-left: 15px;
    margin-right: 15px;
  }


  .nome_quemsomos {
    font-size: 20px; /* Ajusta o nome dos integrantes */
  }

  .funcao_quemsomos {
    font-size: 12px; /* Ajusta o tamanho da função */
  }

  .integrante img {
    max-width: 80%; /* Ajusta as imagens para dispositivos menores */
    height: auto;
  }

  .integrante_2 img {
    max-width: 80%; /* Ajusta as imagens para dispositivos menores */
    height: auto;
  }

  .contato_p {
    font-size: 15px; /* Reduz a fonte do texto */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -5px;
    font-family: "Lato", sans-serif;
    text-align: justify;
  }

  .formulario {
    margin-top: -20px;
  }

  #userForm {
    max-width: 80%; /* Garante responsividade no formulário */
    padding: 20px;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    font-size: 12px; /* Ajusta fontes dos inputs */
    padding: 8px;
  }

  .button_contato {
    font-size: 14px;
    padding: 10px;
  }

.text_instalaçoes {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

  .mapa {
    max-width: 90%;
    height: 300px; /* Ajusta a altura do mapa */
    margin: 20px;
  }

  .title_parceiros {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  }
  
  .linha {
    grid-template-columns: 1fr 1fr; /* 2 colunas em telas pequenas */
    gap: 20px; /* Espaçamento entre itens */
  }

  figure img {
    max-width: 150px; /* Reduz o tamanho máximo da imagem */
  }

  figcaption {
    font-size: 12px; /* Reduz tamanho da legenda para se ajustar melhor */
  }

  .quadrado_parceiros {
    margin-left: 25px;
    max-width: 80%; /* Aumenta a largura do container para caber melhor */
    padding: 15px; /* Ajusta o padding interno */
  }

  .logos_ia {
    font-size: 15px;
    font-family: "Lato" sans-serif;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .title_termos {
    font-size: 22px;
  }

  .text_termo {
    font-size: 14px;
  }

  ol > li {
    font-size: 16px;
  }

  ol > li::before {
    font-size: 18px;
    left: -20px;
  }

}

